// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.partial {
  color: white;
  background-color: black;
  text-align: center;
  padding: 1px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* 必要に応じて、他の要素よりも上に表示されるようにz-indexを設定します */
  /* その他のスタイルを追加 */
}

body {
  margin: 0; /* マージンをゼロに設定 */
}

table th {
  padding: 10px 20px;
  border-bottom: 3px solid gray;
}

table td {
  background-color: #ffbfbf; /* 背景色を指定 */
  padding: 10px; /* パディングを調整 */
  box-sizing: border-box; /* パディングを含めたボックスサイズに設定 */
  height: 50px; /* セルの高さを固定 */
}

.back {
  position: relative;
  top: 50px;
  left: 1px;
}

.index1 {
  position: fixed; /* 要素を固定位置に配置 */
  top: 80px; /* 上部からの距離 */
  left: 50%; /* 右端からの距離 */
  z-index: 1000; /* 他の要素よりも上に表示 */
}



h2 {
  position: relative;
  top: 40px;
  left: 1px;
  font-size: 40px;
}

h3 {
  position: relative;
  top: 50px;
  left: 1px;
  font-size: 20px;
}

.nwetask {
  position: relative;
  top: 50px;
  left: 1px;
  
}

table td.all-day-event {
  /* 終日のイベントを示すためのスタイル */
  text-align: center; /* テキストを中央に配置 */
  font-size: 20px;
}

.info {
  display: flex;
}

.info p {
  margin-right: 30%; /* 各要素の間隔を調整 */
}

// show.css

.back-index {
  color: rgb(44, 33, 255);
  font-size: 12px;
  font-weight: 700;
  margin-top: 20px; /* 必要に応じて調整してください */
}



.event-details {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.event-details h1 {
  margin-top: 0;
}

.event-details p {
  border-bottom: 1px solid #050000;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.back-index {
  margin-top: 20px;
}

.back-index a {
  color: rgb(21, 0, 255);
  text-decoration: none;
}

.back-index a:hover {
  text-decoration: underline;
}

.title-with-edit {
  display: flex;
  align-items: center;
}

.title-with-edit h1 {
  margin-right: 35%; /* タイトルと編集リンクの間隔を調整 */
}
