// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.partial {
  color: white;
  background-color: black;
  text-align: center;
  padding: 1px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* 必要に応じて、他の要素よりも上に表示されるようにz-indexを設定します */
  /* その他のスタイルを追加 */
}

table th {
  padding: 10px 20px;
  border-bottom: 3px solid gray;
}

table td {
  background-color: #ffbfbf; /* 背景色を指定 */
  padding: 10px; /* パディングを調整 */
  box-sizing: border-box; /* パディングを含めたボックスサイズに設定 */
  height: 50px; /* セルの高さを固定 */
}

.backindex {
  color: rgb(44, 33, 255);
  font-size: 12px;
  font-weight: 700;
  
  position: relative;
  top: 50px;
  left: 1px;
}


.back {
  position: relative;
  top: 50px;
  left: 1px;
}